/* Reset default browser styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #999;
}

.link-hub {            
    background-color: none; /* Slight white overlay */
    align-items: center;
}

.content {
    text-align: center;
    background-color: none; /* Slight white overlay */
    padding: 20px;
    border-radius: 10px;
}

img{
    max-height: 400px;
}

.links {
    list-style: none;
    padding: 0;
}

.links li {
    margin: 10px 0;    
}

.links li *{
    display: inline-block;
    vertical-align: middle;
}

.links a {
    text-decoration: none;
    font-size: 1.2em;
    color: #999;
    transition: color 0.3s ease;
    vertical-align: middle;
}

.links a:hover {
    color: #00eeff;
}
.social-links img{
    margin: 10px;
}
.social-links li
{
    transition: transform 0.2s;
}
.social-links li:hover
{    
    transform: scale(1.1);
}
img {
    filter: invert(50%);
  }


/* Dark mode styles */
@media (prefers-color-scheme: dark) {

    img {
        filter: invert(50%);
      }
    body, html {
        background-color: #000000;        
        color: #999;
    }

    h1 {
        color: inherit
    }

    .links a {
        color: inherit
    }

}